* {
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

.grain-pattern {
  background-color: #111827;
  background-image: radial-gradient(circle at 1px 1px, rgba(255, 255, 255, 0.05) 1px, transparent 0);
  background-size: 20px 20px;
}

[x-cloak] {
  display: none !important;
}

@keyframes pulse-border {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.6;
  }
}

.estimative-pulse {
  animation: pulse-border 2s ease-in-out infinite;
}